<form method="post">
    {{ craftForm.hidden_tag() }}
    <img src="{{ url_for('static', filename=page.imageURL) }}" class="image" />
    <br><br>
    <div class="container-fluid">
        <div class="row">
            {{ craftForm.text.label }}
            {{ craftForm.text(rows=7) }}
        </div>
        <div class="row">
            {{ craftForm.description.label }}
            {{ craftForm.description(rows=7) }}
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                {{ craftForm.page_status.label }} {{ craftForm.page_status() }}
            </div>
            <div class="col-sm-3">
                {{ craftForm.page_number() }}
            </div>
            <div class="col-sm-3">
                {{ craftForm.update_page(class="btn btn-primary") }}
            </div>
            <div class="col-sm-3">
                {{ craftForm.craft_page(class="btn btn-primary") }}
                {{ craftForm.use_openai() }} {{ craftForm.use_openai.label }}
            </div>         
        </div>
    </div>
</form>