{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>Welcome to your library, {{ current_user.username }}</h1>

    {% if g.search_form %}
    <form class="navbar-form navbar-left" method="get"
            action="{{ url_for('main.search') }}">
        <div class="form-group">
            {{ g.search_form.q(size=20, class='form-control',
                placeholder=g.search_form.q.label.text) }}
        </div>
    </form>
    {% endif %}

    <br>


    {% for project in projects %}
    <a href={{ url_for("main.page", user=project.user, project=project.name, pagenumber="0") }}>
        <img src="{{ url_for('static', filename=project.icon) }}" class="image" />
    </a>
    {% endfor %}

{% endblock %}